/* .charts {
    display:inline-block;
} */
.chart-container-temp {
    position: relative;
    display: inline-block;
    margin: auto 0;
    padding: 20px 10% 20px 0;
    width: 40%;
  }
  
.chart-container-gas {
    position: relative;
    display: inline-block;
    margin: auto 0;
    padding: 20px 10% 20px 0;
    width: 40%;
  }