* {
  font-family: "Anton", sans-serif;
}

html {
  height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    /* padding: 3.5rem; */
    height: 100%;
    grid-template-areas: "header" "main" "footer";
  }

/* -----------------------mainNav-------------------- */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f7f7f7;
  padding: 0.5rem 1rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0 3rem;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #3e8e41;
  border-bottom: 5px solid #3e8e41;
}